<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCIVrrC4Tlgpi90rTpSn89ORB9k1k8EGM</string>
	<key>GCM_SENDER_ID</key>
	<string>1073183601496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whizz.kenya</string>
	<key>PROJECT_ID</key>
	<string>whizzkenya-a534f</string>
	<key>STORAGE_BUCKET</key>
	<string>whizzkenya-a534f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073183601496:ios:511395c2d7ecae0ee52b2d</string>
</dict>
</plist>