<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTGsqNUVm8ovv04Z2gflJ0RdpnPJC2KUc</string>
	<key>GCM_SENDER_ID</key>
	<string>635632775818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moncongo.app</string>
	<key>PROJECT_ID</key>
	<string>moncongo-86c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>moncongo-86c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635632775818:ios:a927d177776a34686d7373</string>
	<key>DATABASE_URL</key>
	<string>https://moncongo-86c6c-default-rtdb.firebaseio.com</string>
</dict>
</plist>